body {
  font-family: Arial;
  background: #caf778;
  padding: 20px;
}

h2 {
  text-align: center;
}

table {
  width: 90%;
  margin: auto;
  border-collapse: collapse;
  background: rgb(156, 209, 96);
}

th {
  background: #bdf18c;
  color: rgb(14, 13, 12);
}

th, td {
  background-color: #caf778;
  padding: 10px;
  text-align: center;
}

tr:nth-child(even) {
  background: #aa9569;
}

tr:hover {
  background: #c5ba79;
}

h2 {
  text-align: center;
  margin-bottom: 20px;
}